##############################
##    Monitor Properties    ##
##############################

#zermia.coordinator.ip=10.132.15.215
#zermia.coordinator.ip=coordinator
zermia.coordinator.ip=127.0.0.1
zermia.coordinator.port=9090

zermia.N=4
zermia.f=1

zermia.test.run.client=100000
zermia.test.time.client=600000

zermia.attack.primary=false
#no need for the last line

##############################
##  Coordinator Properties  ##
##############################
zermia.serverUptime=600000
zermia.prioritySort=false

#change this based on the number of replicas present in the test zermia.numberOfMonitors=

zermia.numberOfMonitors=17
zermia.monitor.ID.0=0
zermia.monitor.ID.1=1
zermia.monitor.ID.2=2
zermia.monitor.ID.3=3
zermia.monitor.ID.4=4
zermia.monitor.ID.5=5
zermia.monitor.ID.6=6
zermia.monitor.ID.7=7
zermia.monitor.ID.8=8
zermia.monitor.ID.9=9
zermia.monitor.ID.10=10
zermia.monitor.ID.11=11
zermia.monitor.ID.12=12
zermia.monitor.ID.13=13
zermia.monitor.ID.14=14
zermia.monitor.ID.15=15
zermia.monitor.ID.16=16


#zermia.replica.ID.4=4
#zermia.replica.ID.5=5
#zermia.replica.ID.6=6
#zermia.replica.ID.7=7
#zermia.replica.ID.8=8
#zermia.replica.ID.9=9

#zermia.orchestrator.ip=10.132.15.211
#zermia.orchestrator.port=9090

#################################
##  Faulty Replicas Properties ##
#################################

#Put which messages type should a faulty replica inject the fault:
# CsPreP - Consensus pre-prepare messages
# CsPr - Consensus prepare messages
# CsCm - Consensus Commit messages
# Vc - view change messages
# Fw - forwared messages
# Ck - checkpoint/state messages
# Creply - client reply messages
# VcStop - first part of view change
# VcStopD - second part of view change
# VcSync - Third part of view change

Zermia.faulty.replica.0 = CsPrep CsPr CsCm Vc Fw Ck VcSync

#Zermia.faulty.replica.1 = CsPr Vc

#Zermia.faulty.replica.3 =  CsPr CsCm Vc Fw Ck

#Focus primary or not? true - yes, false - no

Zermia.faulty.replica.focusPrimary.0 = true

#Zermia.faulty.replica.focusPrimary.3 = true

#Zermia.faulty.replica.focusPrimary.6 = true